// =============================================================================
// SPECIAL ITEMS
// =============================================================================

#special-items-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  position: relative;
  padding: 20px 10px;
  box-sizing: border-box;
  margin: 0 0 35px;
  border-bottom: 2px solid darken($color: #fff, $amount: 10);
  #special-items-header-text {
    h1 {
      margin: 0;
    }
  }
  @media only screen and (max-width: 800px) {
    text-align: center;
    #special-items-header-text {
      width: 100%;
    }
  }
}
