// =============================================================================
// ALL TO CART
// =============================================================================

#all-to-cart-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  a {
    margin: 10px 0 10px 20px;
  }
  @media only screen and (max-width: 800px) {
    width: 100%;
    a {
      margin: 10px 10px 5px;
    }
  }
  @media only screen and (max-width: 550px) {
    a {
      width: 100%;
    }
  }
}
