// =============================================================================
// SPECIAL ITEMS
// =============================================================================

#all-to-cart-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  a {
    margin: 10px;
  }
}
